/*Main*/
body {
  background-image: url("content/Backdropnew.png");
  background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      white-space: nowrap;
      background-attachment: fixed;
      /*height: calc( 300vh - 0px );*/
      display: block;
      overflow-y: visible;
}
.SepLineOfNav{
border-radius: 25px;
background: white;
padding: 1px;
width: 650px;
height: 1px;
}
.box2 {
position: relative;
  width: 200px;
  height: 200px;
  padding-Top: 0px;
  padding-right: 0px;
  line-height: 0;
  margin: 0px;
  right: 35%;
  top: 5%;
  background-color: #332342;
}
.text{
  color: white;

}
.norm{
  color: white;
  font-family: 'cabinregular';
}
.logo{
  margin-top: -5px;
  margin-left: 50px;
  position: absolute;
  opacity: 1;
}
.nav{
height: 100px;
width: 1000px;
float: right;
margin-top: -125px;
color: white;
font-size: 25px;
background-color: rgba(0, 0, 0, 0.85);
text-decoration: none;
font-family: 'destructonbeam';
}
.navtext{
  margin-top: 40px;
  margin-right: -250px;
  margin-left: 250px;
}

.navBack{
  width: 1000px;
  height: 10px;
}
.centerMain{
  display none;
  position: relative;
  top: -50px;
}

/*Index*/

.indexBox {
  margin-top: 155px;
  width: 1000px;
  height: 900px;
  right: 1000px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}
.dot {
  cursor: pointer;
   height: 10px;
   width: 10px;
   margin: 0 15px;
   background-color: #139bf0;
   border-radius: 50%;
   border:1px solid white;
   display: inline-block;
   transition: background-color 0.1s ease;
}
.previous, .next {
  user-select: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -12px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 3px 0;
  transition: 0.3s ease;
    padding: 125px 10px;
}
* {box-sizing:border-box}

.slideshow-container {
  max width: 1000px;
  position: relative;
  margin-left: auto;
}
.Slides {
  display: none;
}
.next {
  right: -900px;
  border-radius: 3 0 0 3px;
}
.previous:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.texti{
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;

}
.active, .dot:hover {
  background-color: #000000;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
/*Games*/

.gamesBox {
  margin-top: 155px;
  width: 1000px;
  height: 900px;
  right: 1000px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

/*Programs*/

.programsBox {
  margin-top: 155px;
  width: 1000px;
  height: 900px;
  right: 1000px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}
.tools{
    position: absolute;
    float: left;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    border: 1px solid white;
    border-left-style: none;
    border-right-style: none;
    width: 250px;
    height: 400px;
    margin-left: 737.25px;
    margin-top: 50px;
}

/*Videos*/

.videosBox {
  margin-top: 155px;
  width: 1000px;
  height: 900px;
  right: 1000px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 10px;

}
.video {
left: 100px;
}



@font-face {
  font-family: 'cabinregular'
  src: url(content/Cabin-Regular-TTF.ttf);
}

@font-face{
  font-family: 'destructonbeam';
  src: url(content/destructobeambb_reg.ttf);
}
